<%= tinymce %>
<h1>Contact Us</h1>

<% if flash['error'] %>
    <div class='error'><%= flash['error'] %></div>
<% end %>

<% if !@submitted || @form_error %>
<!--<%#= @error_msg %><br /> -->

<%= form_for contact_us_path, :method => "POST" do %>

  <%= label_tag :name, "Enter your Full Name:" %>
  <%= text_field_tag :name, @name, :autofocus => "autofocus", :placeholder => "Enter your name" %><br />
  
  <%= label_tag :email, "Enter your Email Address:" %>
  <%= email_field_tag :email, @email, :placeholder => "user@domain.com" %><br />
  
  <%= label_tag :question, "Enter your question:" %><br />
  <%= text_area_tag :question, @question, :size => "50x10", :class => "tinymce" %> <br />
  
  <%= check_box_tag :newsletter, @newsletter %>
  Subscribe to newsletter?
  <br />
  
  <%= radio_button_tag :gender, "male", @male %>Male
  &nbsp
  <%= radio_button_tag :gender, "female", @female %>Female
  <br />
  
  <%= select_tag :product, options_for_select(
                                            [ 
                                             ['abc', 0], 
                                             ['def', 1], 
                                             ['ghi', 2],
                                            ], @product) %> 
  <br />
  <%= submit_tag "Ask Question" %> 
<% end %>

<% else %>

   Thanks for your information.
   
<% end %>  

<!--
Your name is: <%#= @name %><br /> 
Your email is: <%#= @email %><br />
-->

<!--<pre>--> <!--Debugging-->
<%#= params.each do |key, value| %>
   <%#= key + "==>" + value + "\n" %>
<%# end %>
<!--</pre>-->


